
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA AREA DE TRABAJO */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


#ID_TRABAJO_HOM_01 {
	grid-area: ID_TRABAJO_HOM_01;
}

#ID_TRABAJO_HOM_02 {
	grid-area: ID_TRABAJO_HOM_02;
}


#ID_TRABAJO_HOM {
	display: grid;
    height: 100%;
	grid-template: 
		"ID_TRABAJO_HOM_01" 10% 
		"ID_TRABAJO_HOM_02" auto / 
		100%;
}

#ID_TRABAJO_HOM > * {
    border: solid white;
}

