/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA DE TRABAJO
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.area_de_trabajo {
    text-align: center;
    padding: 1px;
}

#ID_PUNTOS_CAPTURA_01 {
	grid-area: ID_PUNTOS_CAPTURA_01;
}
#ID_PUNTOS_CAPTURA_02 {
	grid-area: ID_PUNTOS_CAPTURA_02;
}
#ID_PUNTOS_CAPTURA_03 {
	grid-area: ID_PUNTOS_CAPTURA_03;
}

#ID_PUNTOS_CAPTURA {
	display: grid;
    height: 100%;
	grid-template: 
		"ID_PUNTOS_CAPTURA_01" 4%  
		"ID_PUNTOS_CAPTURA_02" 28%  
		"ID_PUNTOS_CAPTURA_03" auto /  
        100%;
}

#ID_PUNTOS_CAPTURA > * {
    border: 1px gray solid;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 545 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 545px) {

#ID_PUNTOS_CAPTURA {
	display: grid;
    height: 100%;
	grid-template: 
		"ID_PUNTOS_CAPTURA_01" 4%  
		"ID_PUNTOS_CAPTURA_02" 30%  
		"ID_PUNTOS_CAPTURA_03" auto /  
        100%;
}

    
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 920 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 920px) {

    #ID_PUNTOS_CAPTURA {
	    display: grid;
	    grid-template: 
		    "ID_PUNTOS_CAPTURA_01 ID_PUNTOS_CAPTURA_01" 4%  
		    "ID_PUNTOS_CAPTURA_02 ID_PUNTOS_CAPTURA_03" auto  
		    "ID_PUNTOS_CAPTURA_02 ID_PUNTOS_CAPTURA_03" auto /  
            30% 70%;
    }

    
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 1150 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 1150px) {

}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 1300 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 1300px) {

}
