/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* GENERAL
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 9px;
}

@font-face {
    font-family: 'Switzer';
    src: url('../fonts/switzer/Fonts/WEB/fonts/Switzer-Medium.woff2') format('woff2');
    font-weight: 100;
}

body {
	box-sizing: border-box;
    background-repeat: round;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    font-family: 'Switzer';
    border: 4px solid green;
}

.maqueta_01 {
    height: 100%;
    width: 100%;
    min-width: 300px;
    border: 2px solid orange;

}

.maqueta_01 > * {
    border: 1px solid green;

}

.area_cuerpo {
    width: 100%;
    height: 100%;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA COMPLETA (LIENZO)
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.maqueta_principal {
    height: 100%;
    width: 100%;
    min-width: 300px;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA CINTA SUPERIOR (ESTADO)
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#ID_GEN_01 {
	grid-area: ID_GEN_01;
    background-color: rgba(212, 36, 191);
    color: white;
    padding: 1px;
}

#ID_GEN_01_MAQUETA {
	grid-area: ID_GEN_01;
    background-color: rgba(212, 36, 191);
    color: white;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

#ID_GEN_01_NAME {
    font-size: .8rem; 
}

#ID_GEN_01_USER {
    font-size: .8rem; 
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA CABEZA
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#ID_GEN_02 {
	grid-area: ID_GEN_02;
    height: 100%;
    width: 100%;
    text-align: center;
	box-sizing: border-box;
    background-color: black;
}

.area_titulo_pantalla {
	box-sizing: border-box;
    text-align: center;
    rotate: -4deg;

}

.postit {
    background-color: rgba(232, 199, 81);
    font-size: 1.7rem;
    color: rgba(212, 36, 191);
    width: 100%;
    padding: 4px;
}

#ID_GEN_02_MAQUETA {
    border: 1px solid gray;
    color: white;
    font-size: .5rem; 
    padding: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MENU */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.menu_elementos {
    color: black;   
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.menu_elementos_d {
    color: white;   
	text-align: center;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 	box-sizing: border-box;
}

.boton_menu_cuadro {
    display: inline-block;
    padding: 2px;
    z-index: 10;
}

.boton_menu_cuadro_d {
    display: inline-block;
    color: white;   
}

.boton_menu_cuadro_icono {
    display: block;
    text-decoration: none;
    color: rgba(212, 36, 191);
    font-size: 2rem;
    padding: 2px;
}

.boton_menu_cuadro_d_icono {
    display: block;
    text-decoration: none;
    color: white;   
}

.boton_menu_cuadro_texto {
    display: block;
    text-decoration: none;
    color: rgba(212, 36, 191);
    font-size: 1rem;
    padding: 2px;
}

.boton_menu_cuadro_d_texto {
    display: block;
    text-decoration: none;
    color: white;   
}

.boton_menu_dark {
    display: inline-block;
    padding: 1px;
    z-index: 10;
}

.boton_menu_dark_d {
    display: inline-block;
    color: black;   
}

.boton_menu_dark_icono {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    padding: 3px;
}

.boton_menu_dark_d_icono {
    display: block;
    text-decoration: none;
    color: black;   
}

.boton_menu_dark_texto {
    display: block;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    padding: 3px;
    font-weight: bold;
}

.boton_menu_dark_d_texto {
    display: block;
    text-decoration: none;
    color: black;   
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: rgba(98, 93, 92, .5);
}

#ID_GEN_03 {
    grid-area: ID_GEN_03;
}

#ID_GEN_04 {
    background-color: rgba(212, 36, 191);
	grid-area: ID_GEN_04;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA PRINCIPAL
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#ID_GEN_MAQUETA_PRINCIPAL {
	display: grid;
    height: 100%;
	grid-template: 
		"ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01" 3%  
		"ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02" 25%  
		"ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03" auto  
		"ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04" 3% /  
		8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333%;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA DE TRABAJO
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*
.area_de_trabajo {
    text-align: center;
    padding: 1px;
}

#ID_COMERCIAR_TRABAJO_01 {
	grid-area: ID_COMERCIAR_TRABAJO_01;
    font-weight: bold; 
    padding: 4px;
    font-size: 1.3rem;
}
#ID_COMERCIAR_TRABAJO_02 {
	grid-area: ID_COMERCIAR_TRABAJO_02;
}
#ID_COMERCIAR_TRABAJO_03 {
	grid-area: ID_COMERCIAR_TRABAJO_03;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    border: 1px gray solid;
}
#ID_COMERCIAR_TRABAJO_04 {
	grid-area: ID_COMERCIAR_TRABAJO_04;
}

#ID_TRABAJO {
	display: grid;
    height: 100%;
	grid-template: 
		"ID_COMERCIAR_TRABAJO_01 ID_COMERCIAR_TRABAJO_01" 5%  
		"ID_COMERCIAR_TRABAJO_02 ID_COMERCIAR_TRABAJO_02" 4%  
		"ID_COMERCIAR_TRABAJO_03 ID_COMERCIAR_TRABAJO_03" 10%  
		"ID_COMERCIAR_TRABAJO_04 ID_COMERCIAR_TRABAJO_04" auto /  
		50% 50%;
}
*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* VENTANA MODAL
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*
.modal_oculto {

    position: absolute;
    display: none;
    width: 100%;
    height: 2150px;
    background-color: rgba(225, 201, 196, .5);
    top: 0px;
    right: 0px;

}

.modal_activo {

    position: absolute;
    display: block;
    width: 100%;
    height: 2150px;
    background-color: rgba(225, 201, 196, .5);
    top: 0px;
    right: 0px;

}

#ID_COMERCIOSOLIDARIO_MODAL_OPCION_BUTTON {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#ID_OK_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_SI_AGREGA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_NO_AGREGA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_SI_REESTABLECE_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_NO_REESTABLECE_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_SI_LIMPIA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_NO_LIMPIA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}


#ID_SI_ACTUALIZA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_NO_ACTUALIZA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}
*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* VENTANA MODAL*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*
.ventana_modal {
	box-sizing: border-box;
    background-color: rgba(225, 201, 196);   
    margin: auto;
    position: absolute;
    text-align: center;
    max-width: 280px;
}

.ventana_modal > * {
}

.ventana_modal::backdrop {
    background-color: rgba(225, 201, 196, 0.3);   
}
*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 330 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*
@media (min-width: 330px) {

    #ID_GEN_MAQUETA {
	    display: grid;
        height: 100%;
	    grid-template: 
		    "ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01 ID_GEN_01" 2%  
		    "ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02 ID_GEN_02" 12%  
		    "ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03 ID_GEN_03" auto  
		    "ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04 ID_GEN_04" 3% /  
		    8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333%;
    }

}
*/

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 545 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*
@media (min-width: 545px) {

    * {
        font-size: 12px; 
    }

}
*/