#ID_MODAL_CROSSCFC {
	width: 100%;
	height: 1000px;
	position: absolute;
	top: 0px;
	background-color: rgba(86, 101, 115, .4);
	z-index: 99999999;
	display: none;
}

#MAQUETA_MODAL {
	padding: 15px;
	margin: 15px;
	max-width: 600px;
	width: 100%;
	background-color: rgba(86, 101, 115);
	margin: 7.5% auto auto auto;
	display: block;
	color: white;
	border-radius: 5px;
	border: solid 1px orange;
	font-size: 1.25em;
	box-sizing: border-box;
}
#ID_MODAL_TITULO {
	margin: 2px;
	padding: 2px;
	display: block;
	width: 100%;
	height: 20px;
	font-weight: bold;
}
#ID_MODAL_TEXTO {
	margin: 2px;
	padding: 2px;
	display: block;
	width: 100%;
	height: auto;
}
#ID_MODAL_BOTONES {
	margin: 2px;
	padding: 2px;
	display: block;
	width: 100%;
	height: 60px;
}

.link_boton_formulario_02 {
	padding: 8px 12px 8px 13px;
	margin: 8px;
	background-color: white;
	color: black;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	
}
#ID_MODAL_BOTONES {
	margin: 2px;
	padding: 2px;
	display: block;
	width: 100%;
	height: 60px;
}

#CONTENEDOR_LOADER {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#ID_MODAL_CONTENEDOR_LOADER {
	border: 5px solid;
	border-top: 5px solid transparent;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: rotate 1s ease infinite;
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
