/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* PANTALLA GEN */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	box-sizing: border-box;
    /*background-image: linear-gradient(rgba(139, 14, 153, 0.2), rgba(139, 14, 153, 0.2)), url("../../comerciosolidario/imagenes/edificio_suenos02.jpeg");*/
    background-repeat: round;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 350px;
}

.maqueta_base {
	box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA GEN */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.maqueta_01 {
	box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MENU */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.menu_elementos {
    padding: .1em;
    color: black;   
}

.menu_elementos_d {
    color: white;   
	text-align: center;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
	padding: 8px;
 	box-sizing: border-box;
}

.boton_menu_cuadro {
    display: inline-block;
    font-size: .65em;
    padding: .1em;
    margin: .25em;
    color: black;   
}

.boton_menu_cuadro_d {
    display: inline-block;
    font-size: .65em;
    padding: .1em;
    margin: .25em;
    color: white;   
}

.boton_menu_cuadro_icono {
    font-size: 2.5em;
    display: block;
    text-decoration: none;
    margin: 8px;
    color: black;   
}

.boton_menu_cuadro_d_icono {
    font-size: 2.5em;
    display: block;
    text-decoration: none;
    margin: 8px;
    color: white;   
}

.boton_menu_cuadro_texto {
    display: block;
    text-decoration: none;
    color: black;   
}

.boton_menu_cuadro_d_texto {
    display: block;
    text-decoration: none;
    color: white;   
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: rgba(98, 93, 92, .5);
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA KRONOS */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.maqueta_kronos {
	box-sizing: border-box;
    width: 100%;
    height: 582px;
}

.maqueta_kronos > * {
	box-sizing: border-box;
    text-align: center;
    font-size: 1em;
    border: 1px solid;
}

.cinta_superior {
    background-color: black;
    color: white;
    font-size: .6em;
    padding: 3px;
}

.area_home {
    padding: 4px;
}

.area_exit {
    padding: 4px;
}

.area_titulo {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 8px;
    font-weight: bold;
	box-sizing: border-box;
}

.area_menu {
    padding: 4px;
}

.area_principal {
	text-align: center;
	padding: 4px;
	box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px solid gray;
}

.area_principal > * {
	text-align: center;
	padding: 4px;
	box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px solid gray;
}

.cinta_pie {
    border: none;
    background-color: gray;
    color: white;
    font-size: .6em;
    padding: 2px;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA KRONOS */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#ID_KRONOS_01 {
	grid-area: ID_KRONOS_01;
}

#ID_KRONOS_02 {
	grid-area: ID_KRONOS_02;
}

#ID_KRONOS_03 {
	grid-area: ID_KRONOS_03;
}

#ID_KRONOS_04 {
	grid-area: ID_KRONOS_04;
}

#ID_KRONOS_05 {
	grid-area: ID_KRONOS_05;
}

#ID_KRONOS_06 {
	grid-area: ID_KRONOS_06;
}

#ID_KRONOS_07 {
	grid-area: ID_KRONOS_07;
}

#ID_KRONOS_08 {
	grid-area: ID_KRONOS_08;
}

#ID_KRONOS_09 {
	grid-area: ID_KRONOS_09;
}

#ID_KRONOS_10 {
	grid-area: ID_KRONOS_10;
}

#ID_KRONOS_11 {
	grid-area: ID_KRONOS_11;
}

#ID_KRONOS_12 {
	grid-area: ID_KRONOS_12;
}

#ID_KRONOS_13 {
	grid-area: ID_KRONOS_13;
}

#ID_KRONOS_14 {
	grid-area: ID_KRONOS_14;
}

#ID_KRONOS_MAQUETA {
	display: grid;
	grid-template: 
		"ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02" 3.5% 
		"ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04" 13% 
		"ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05" 13% 
		"ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06" 2% 
		"ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07" 2% 
		"ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08" auto 
		"ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09" 2% 
		"ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10" 2% 
		"ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11" 2% 
		"ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13" 3.5% /
		5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA AREA DE TRABAJO */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


.titulo_trabajo {
    padding: 2px;
    color: white;
}

.area_gradilla {
    padding: 2px;
    color: white;
}

.area_status {
    padding: 2px;
    color: white;
}

.area_id {
    padding: 2px;
    color: white;
}

.area_nombre {
    padding: 2px;
    color: white;
}

.area_controles {
    padding: 2px;
    color: white;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* VENTANA MODAL
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.modal_oculto {

    position: absolute;
    display: none;
    width: 100%;
    height: 2150px;
    background-color: rgba(225, 201, 196, .5);
    top: 0px;
    right: 0px;

}

.modal_activo {

    position: absolute;
    display: block;
    width: 100%;
    height: 2150px;
    background-color: rgba(225, 201, 196, .5);
    top: 0px;
    right: 0px;

}

#ID_KRONOS_MODAL_OPCION_BUTTON {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    justify-content: space-around;
    text-align: center;
}

#ID_OK_MODAL_TEXTO {
    color: white;   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

.ventana_modal {
	box-sizing: border-box;
    background-color: black;   
    margin: auto;
    position: absolute;
    padding: 7px;
    text-align: center;
    max-width: 280px;
    border-radius: 5px;
}

.ventana_modal > * {
    padding: 1px;
}

.ventana_modal::backdrop {
    background-color: rgba(135, 131, 131, 0.7);   
}

.boton_link_icono_chico_icono {
    padding: .3em;    
    color: white;   
    display: block;
    text-decoration: none;
    font-size: 1.5em;
}

.boton_link_icono_chico_texto {
    color: white;   
    display: block;
    text-decoration: none;
    font-size: .8em;
}

.titulo_ventana {
    font-weight: bold;
    color: white;
}

.area_aviso_modal {
    color: white;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 500 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 500px) {

#ID_KRONOS_MAQUETA {
	display: grid;
	grid-template: 
		"ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02" 3.5% 
		"ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04" 13% 
		"ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05" 13% 
		"ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06" 2% 
		"ID_KRONOS_07 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_09" auto 
		"ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10" 2% 
		"ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11" 2% 
		"ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13" 3.5% /
		5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 800 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 800px) {

#ID_KRONOS_MAQUETA {
	display: grid;
	grid-template: 
		"ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02" 3.5% 
		"ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05" 13% 
		"ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06" 2% 
		"ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09" auto 
		"ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10" 2% 
		"ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11" 2% 
		"ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13" 3.5% /
		5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 1000 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 1000px) {

#ID_KRONOS_MAQUETA {
	display: grid;
	grid-template: 
		"ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_01 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02 ID_KRONOS_02" 3.5% 
		"ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_03 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_04 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05 ID_KRONOS_05" 13% 
		"ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06 ID_KRONOS_06" 2% 
		"ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_07 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_08 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09 ID_KRONOS_09" auto 
		"ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10 ID_KRONOS_10" 2% 
		"ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11 ID_KRONOS_11" 2% 
		"ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_12 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13 ID_KRONOS_13" 3.5% /
		5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

}
