/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA DE TRABAJO
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.area_de_trabajo {
    text-align: center;
    padding: 1px;
}

#ID_PUNTOS_LISTA_01 {
	grid-area: ID_PUNTOS_LISTA_01;
}
#ID_PUNTOS_LISTA_02 {
	grid-area: ID_PUNTOS_LISTA_02;
}
#ID_PUNTOS_LISTA_03 {
	grid-area: ID_PUNTOS_LISTA_03;
}

#ID_PUNTOS_CRUD_02 {
	display: grid;
    height: 100%;
	grid-template: 
		"ID_PUNTOS_LISTA_01" 5%  
		"ID_PUNTOS_LISTA_02" 20%  
		"ID_PUNTOS_LISTA_03" auto /  
        100%;
}

#ID_PUNTOS_CRUD_02 > * {
    border: 1px gray solid;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA DE FILTROS
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.trabajo_filtros {
    text-align: center;
    padding: 1px;
}

.radio_group {
    padding: 1px;
    border: 0;
}

.radio_group > * {
    padding: 1px;
    border: 0;
}

.radio_group_option > * {
    padding: 1px;
}

.radio_group_option {
    padding: 1px;
}

.input_numero {
    width: 45px;
}

#ID_PUNTOS_TRABAJO_04_02_01 {
	box-sizing: border-box;
	grid-area: ID_PUNTOS_TRABAJO_04_02_01;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#ID_PUNTOS_TRABAJO_04_02_02 {
	box-sizing: border-box;
	grid-area: ID_PUNTOS_TRABAJO_04_02_02;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#ID_PUNTOS_TRABAJO_04_02_03 {
	box-sizing: border-box;
	grid-area: ID_PUNTOS_TRABAJO_04_02_03;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#ID_PUNTOS_TRABAJO_04_02_04 {
	box-sizing: border-box;
	grid-area: ID_PUNTOS_TRABAJO_04_02_04;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#ID_PUNTOS_TRABAJO_04_02_05 {
	box-sizing: border-box;
	grid-area: ID_PUNTOS_TRABAJO_04_02_05;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#ID_PUNTOS_TRABAJO_04_02 {
	box-sizing: border-box;
	display: grid;
    height: 100%;
	grid-template: 
		"ID_PUNTOS_TRABAJO_04_02_01 ID_PUNTOS_TRABAJO_04_02_01" 12%
		"ID_PUNTOS_TRABAJO_04_02_02 ID_PUNTOS_TRABAJO_04_02_03" auto
		"ID_PUNTOS_TRABAJO_04_02_04 ID_PUNTOS_TRABAJO_04_02_05" auto / 
		50% 50%;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA STATUS REGISTRO */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


#ID_PUNTOS_TRABAJO_04_04_01 {
	box-sizing: border-box;
	grid-area: ID_PUNTOS_TRABAJO_04_04_01;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#ID_PUNTOS_TRABAJO_04_04_02 {
	box-sizing: border-box;
	grid-area: ID_PUNTOS_TRABAJO_04_04_02;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#ID_PUNTOS_TRABAJO_04_04_03 {
	box-sizing: border-box;
	grid-area: ID_PUNTOS_TRABAJO_04_04_03;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#ID_PUNTOS_TRABAJO_04_04_04 {
	box-sizing: border-box;
	grid-area: ID_PUNTOS_TRABAJO_04_04_04;
    padding: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#ID_PUNTOS_TRABAJO_04_04 {
	box-sizing: border-box;
	display: grid;
    height: 100%;
	grid-template: 
		"ID_PUNTOS_TRABAJO_04_04_01 ID_PUNTOS_TRABAJO_04_04_03 ID_PUNTOS_TRABAJO_04_04_04" 50%
		"ID_PUNTOS_TRABAJO_04_04_02 ID_PUNTOS_TRABAJO_04_04_03 ID_PUNTOS_TRABAJO_04_04_04" 50% /
		40% 40% 20%;
}

#ID_PUNTOS_TRABAJO_04_04 > * {
    border: 1px solid gray; 
}


#ID_PUNTOS_TRABAJO_04_05_01 {
	box-sizing: border-box;
    padding: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#ID_PUNTOS_TRABAJO_04_05 > * {
    border: 1px solid gray; 
}





/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 545 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 545px) {

    #ID_PUNTOS_TRABAJO_04 {
	    display: grid;
        height: 100%;
	    grid-template: 
		    "ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01" 3%  
		    "ID_PUNTOS_TRABAJO_04_02 ID_PUNTOS_TRABAJO_04_02 ID_PUNTOS_TRABAJO_04_02 ID_PUNTOS_TRABAJO_04_02 ID_PUNTOS_TRABAJO_04_02 ID_PUNTOS_TRABAJO_04_02" 45%  
		    "ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03" auto  
		    "ID_PUNTOS_TRABAJO_04_04 ID_PUNTOS_TRABAJO_04_04 ID_PUNTOS_TRABAJO_04_04 ID_PUNTOS_TRABAJO_04_05 ID_PUNTOS_TRABAJO_04_05 ID_PUNTOS_TRABAJO_04_05" 15% /  
            16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }
    
    #ID_PUNTOS_TRABAJO_04_02 {
	    box-sizing: border-box;
	    display: grid;
        height: 100%;
	    grid-template: 
		    "ID_PUNTOS_TRABAJO_04_02_01" 12%
		    "ID_PUNTOS_TRABAJO_04_02_02" 22%
            "ID_PUNTOS_TRABAJO_04_02_03" 22%
		    "ID_PUNTOS_TRABAJO_04_02_04" 22%
            "ID_PUNTOS_TRABAJO_04_02_05" 22% / 
		    100%;
    }

}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 1200 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 1200px) {

    #ID_PUNTOS_TRABAJO_04 {
	    display: grid;
        height: 100%;
	    grid-template: 
		    "ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01 ID_PUNTOS_TRABAJO_04_01" 5%  
		    "ID_PUNTOS_TRABAJO_04_02 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03" 15%  
		    "ID_PUNTOS_TRABAJO_04_02 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03 ID_PUNTOS_TRABAJO_04_03" auto  
		    "ID_PUNTOS_TRABAJO_04_04 ID_PUNTOS_TRABAJO_04_04 ID_PUNTOS_TRABAJO_04_04 ID_PUNTOS_TRABAJO_04_05 ID_PUNTOS_TRABAJO_04_05 ID_PUNTOS_TRABAJO_04_05" 15% /  
            16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }

}



