* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	box-sizing: border-box;
    background-image: linear-gradient(rgba(139, 14, 153, 0.2), rgba(139, 14, 153, 0.2)), url("../../nuevo/imagenes/barrancas.png");
    background-repeat: round;
    background-size: cover;
    width: 100%;
    height: 99vh;
    max-width: 100%;
}

.maqueta_ventana {
	box-sizing: border-box;
    background-color: rgba(225, 201, 196);   
    border-radius: .5em;
    width: 250px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
}

.maqueta_ventana > * {
    padding: 1px;
}

.titulo_ventana {
	box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.area_input {
	box-sizing: border-box;
    text-align: center;
    padding: 2px;
}

.login_input {
    margin: 5px auto;
    height: 28px;
    width: 230px;
    font-size: 13px;
    text-align: center;
    border-radius: .5em;
}

.login_button {
    border-radius: .5em;
    cursor: pointer;
    background: rgb(239, 140, 233);
    width: auto;
    padding: 5px;
}

.login_button:hover {
    background: rgb(207, 50, 197);
}

.area_link {
	box-sizing: border-box;
    text-align: center;
    padding: 4px;
}

.login_link {
    font-size: 13px;
    color:rgb(132, 5, 81);
    margin: 5px;
    font-size: .7rem;
}

.login_link:visited {
    color:rgb(132, 5, 81);
}

.login_link:hover {
    color:rgb(199, 113, 183);
}

.boton_link_icono_chico_icono {
    padding: .3em;    
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-size: 1.5em;
}

.boton_link_icono_chico_texto {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-size: .8em;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* PANTALLA GEN */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.maqueta_01 {
	box-sizing: border-box;
    width: 100%;
}
.maqueta_01 > * {
}

#ID_maqueta_01_CUERPO {
    padding: 5px;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA GEN STATUS */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.area_cinta {
    border-radius: .5em;
    background-color: black;
    color: white;
    font-size: .85em;
    text-align: center;
    padding: .1em;
}


#ID_GEN_STATUS_NAME {
	box-sizing: border-box;
	grid-area: ID_GEN_STATUS_NAME;
}
#ID_GEN_STATUS_AVISO {
	box-sizing: border-box;
	grid-area: ID_GEN_STATUS_AVISO;
}
#ID_GEN_STATUS_USER {
	box-sizing: border-box;
	grid-area: ID_GEN_STATUS_USER;
}
#ID_GEN_STATUS_MAQUETA {
	box-sizing: border-box;
	display: grid;
	grid-template: 
		"ID_GEN_STATUS_NAME" auto
		"ID_GEN_STATUS_AVISO" auto
		"ID_GEN_STATUS_USER" auto /
		100%;
}
#ID_GEN_STATUS_MAQUETA > * {
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA GEN CABEZA */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#ID_GEN_CABEZA_TITULO {
	box-sizing: border-box;
	grid-area: ID_GEN_CABEZA_TITULO;
    color: black;
}
#ID_GEN_CABEZA_MENUIZQ {
	box-sizing: border-box;
	grid-area: ID_GEN_CABEZA_MENUIZQ;
}
#ID_GEN_CABEZA_MENUCENTRO {
	box-sizing: border-box;
	grid-area: ID_GEN_CABEZA_MENUCENTRO;
}
#ID_GEN_CABEZA_MENUDER {
	box-sizing: border-box;
	grid-area: ID_GEN_CABEZA_MENUDER;
}
#ID_GEN_CABEZA_MAQUETA {
    border-radius: .5em;
    background-color: rgba(225, 201, 196);
    color: rgba(88, 54, 94);   
	box-sizing: border-box;
	display: grid;
    text-align: center;
    padding: .1em;
	grid-template: 
		"ID_GEN_CABEZA_TITULO ID_GEN_CABEZA_TITULO ID_GEN_CABEZA_TITULO" auto
		"ID_GEN_CABEZA_MENUIZQ ID_GEN_CABEZA_MENUCENTRO ID_GEN_CABEZA_MENUDER" auto /
		15% 70% 15%;
}
#ID_GEN_CABEZA_MAQUETA > * {
    text-align: center;
    padding: .1em;
}
.area_titulo_pantalla {
    font-weight: bold;
    text-align: center;
}




/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MENU */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.menu_elementos {
    padding: .1em;
    color: rgba(88, 54, 94);   
}
.boton_menu_cuadro {
    display: inline-block;
    font-size: .65em;
    padding: .1em;
    margin: .25em;
    color: rgba(88, 54, 94);   
}
.boton_menu_cuadro_icono {
    font-size: 2.5em;
    display: block;
    text-decoration: none;
    margin: 8px;
    color: rgba(88, 54, 94);   
}
.boton_menu_cuadro_texto {
    display: block;
    text-decoration: none;
    color: rgba(88, 54, 94);   
}
.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: rgba(98, 93, 92, .5);
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA GEN STATUS */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.area_cinta {
    border-radius: .5em;
    background-color: black;
    color: white;
    font-size: .85em;
    text-align: center;
    padding: .1em;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* MAQUETA CUERPO */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
#ID_GEN_CUERPO_IZQ {
	box-sizing: border-box;
	grid-area: ID_GEN_CUERPO_IZQ;
}
#ID_GEN_CUERPO_CENTRO {
	box-sizing: border-box;
	grid-area: ID_GEN_CUERPO_CENTRO;
}
#ID_GEN_CUERPO_DER {
	box-sizing: border-box;
	grid-area: ID_GEN_CUERPO_DER;
}
#ID_GEN_CUERPO_MAQUETA {
	box-sizing: border-box;
	display: grid;
	grid-template: 
        "ID_GEN_CUERPO_CENTRO" auto
        "ID_GEN_CUERPO_IZQ" auto
		"ID_GEN_CUERPO_DER" auto /
		100%;
}
#ID_GEN_CUERPO_MAQUETA > * {
    text-align: center;
}

#ID_TRABAJO_CABEZA {
    border-radius: .5em;
    background-color: rgba(225, 201, 196);
    color: rgba(88, 54, 94);   
	box-sizing: border-box;
    text-align: center;
}

#ID_TRABAJO_ESCRITORIO {
    border-radius: .5em;
    background-color: rgba(225, 201, 196);
    color: rgba(88, 54, 94);   
	box-sizing: border-box;
    text-align: center;
}

#ID_TRABAJO_PIE {
    border-radius: .5em;
    background-color: rgba(225, 201, 196);
    color: rgba(88, 54, 94);   
	box-sizing: border-box;
}

#ID_GEN_CUERPO_CENTRO {
    border-radius: .5em;
    background-color: rgba(88, 54, 94, .5);
    padding: .25em;
}
#ID_GEN_CUERPO_CENTRO > * {
    padding: .25em;
    margin: .25em;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* VENTANA MODAL
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.modal_oculto {

    position: absolute;
    display: none;
    width: 100%;
    height: 2150px;
    background-color: rgba(225, 201, 196, .5);
    top: 0px;
    right: 0px;

}

.modal_activo {

    position: absolute;
    display: block;
    width: 100%;
    height: 2150px;
    background-color: rgba(225, 201, 196, .5);
    top: 0px;
    right: 0px;

}

#ID_SDHYBC_MODAL_OPCION_BUTTON {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    justify-content: space-around;
    text-align: center;
}

#ID_OK_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_SI_AGREGA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_NO_AGREGA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_SI_REESTABLECE_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_NO_REESTABLECE_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_SI_LIMPIA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_NO_LIMPIA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}


#ID_SI_ACTUALIZA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

#ID_NO_ACTUALIZA_MODAL_TEXTO {
    color: rgba(88, 54, 94);   
    display: block;
    text-decoration: none;
    font-weight: normal;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* VENTANA MODAL*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.ventana_modal {
	box-sizing: border-box;
    background-color: rgba(225, 201, 196);   
    border-radius: 10px;
    margin: auto;
    position: absolute;
    padding: 7px;
    text-align: center;
    max-width: 280px;
}

.ventana_modal > * {
    padding: 1px;
}

.ventana_modal::backdrop {
    background-color: rgba(225, 201, 196, 0.3);   
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 545 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 545px) {
	#ID_GEN_STATUS_MAQUETA {
		grid-template: 
			"ID_GEN_STATUS_NAME ID_GEN_STATUS_AVISO ID_GEN_STATUS_USER" auto /
			33% 34% 33%;
	}
    #ID_GEN_CUERPO_MAQUETA {
        grid-template: 
            "ID_GEN_CUERPO_IZQ ID_GEN_CUERPO_CENTRO ID_GEN_CUERPO_DER" auto /
            5% 90% 5%;
    }
}
