* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(rgba(139, 14, 153, 0.2), rgba(139, 14, 153, 0.2)), url("../../carrington/imagenes/barrancas.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 95vh;
}

main {
    margin: auto;
    width: 270px;
    height: 300px;
}

.form-login {
    margin: auto;
    padding: 5px;
    display: block;
    margin: 5vh auto 0px auto;
    width: 250px;
    background: rgb(197, 184, 199);
    border-radius: 10px;
    text-align: center;
}

#form-login {
    height: 180px;
}

#form-recovery {
    height: 140px;
}

#form-change {
    height: 180px;
}

#form-recovery-paragraph {
    font-size: 13px;
}

.input-log {
    margin: 5px auto;
    width: 230px;
    height: 28px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
}

.button-log {
    border-radius: 14px;
    cursor: pointer;
    background: rgb(239, 140, 233);
}

.button-log:hover {
    background: rgb(207, 50, 197);
}

.form-footer-link {
    font-size: 13px;
    color:rgb(132, 5, 81);
}

.form-footer-link:visited {
    color:rgb(132, 5, 81);
}

.form-footer-link:hover {
    color:rgb(199, 113, 183);
}

#account_recovery {
    position: relative;
    left: 50px;
    top: 15px;
}

#account_login {
    position: relative;
    left: 90px;
    top: 15px;
}

.modals-login {
    background: rgb(197, 184, 199);
    width: 240px;
    z-index: 100;
    margin-left: -115px;
    margin-top: -70px;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 7px;
    text-align: center;
}

#modal-login {
    height: 135px;
}

#modal-account {
    height: 110px;
}

#modal-recovery {
    height: 110px;
}

.modals-login::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modals-contents {
    margin: 3px auto 1px auto;
    width: 200px;
}

.modals-text {
    font-size: 13px;
}

