#ID_FORMULARIO_AREA_02_GRADILLA {
    box-sizing: border-box;
    background-color: orange;
    color: white;
    height: 100%;
}
#ID_FORMULARIO_AREA_02_GRADILLA > * {
	border: 1px solid black;
	padding: .5 em;
	margin: .5 em;
}

#ID_FORMULARIO_AREA_02_GRADILLA_TITULO {
	box-sizing: border-box;
	grid-area: ID_FORMULARIO_AREA_02_GRADILLA_TITULO;
}
#ID_FORMULARIO_AREA_02_GRADILLA_CONTROL {
	box-sizing: border-box;
	grid-area: ID_FORMULARIO_AREA_02_GRADILLA_CONTROL;
}
#ID_FORMULARIO_AREA_02_GRADILLA_CUERPO {
	box-sizing: border-box;
	grid-area: ID_FORMULARIO_AREA_02_GRADILLA_CUERPO;
}

#ID_FORMULARIO_AREA_02_GRADILLA {
	box-sizing: border-box;
	height: 100%;
	display: grid;
	grid-template: 
		"ID_FORMULARIO_AREA_02_GRADILLA_TITULO" auto
		"ID_FORMULARIO_AREA_02_GRADILLA_CONTROL" 17%
		"ID_FORMULARIO_AREA_02_GRADILLA_CUERPO" 75% /
		100%;
	}

