
/* PARAMETROS GENERALES */

@font-face {
/*	font-family: 'PT Sans Narrow'; */
	font-family: 'Barlow Semi Condensed';
/*	src: url("../pantalib/fuentes/ptsansnarrow/PTSansNarrow-Regular.ttf") format("truetype"); */
	src: url("../pantalib/fuentes/barlowsemicondensed/BarlowSemiCondensed-Regular.ttf") format("truetype");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Barlow Semi Condensed';
	
}

html {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	font-size: 12px;
}


body {
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
}

/* PARAMETROS DE LA MAQUETA PRINCIPAL */

#ID_MODAL_LOSENTINTAN {
    display: none;
    position: absolute;
}