/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA PANTALLA PUNTOS INFORMES
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.area_de_trabajo {
    text-align: center;
    padding: 1px;
}

#ID_PUNTOS_INFORMES_01 {
	grid-area: ID_PUNTOS_INFORMES_01;
}
#ID_PUNTOS_INFORMES_02 {
	grid-area: ID_PUNTOS_INFORMES_02;
}
#ID_PUNTOS_INFORMES_03 {
	grid-area: ID_PUNTOS_INFORMES_03;
}
#ID_PUNTOS_INFORMES_04 {
	grid-area: ID_PUNTOS_INFORMES_04;
	box-sizing: border-box;
    border: 1px gray solid;
}

#ID_PUNTOS_INFORMES {
	display: grid;
    height: 100%;
	grid-template: 
		"ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01" 5%  
		"ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02" auto  
		"ID_PUNTOS_INFORMES_03 ID_PUNTOS_INFORMES_03 ID_PUNTOS_INFORMES_03 ID_PUNTOS_INFORMES_03 ID_PUNTOS_INFORMES_03 ID_PUNTOS_INFORMES_03" 10%  
		"ID_PUNTOS_INFORMES_04 ID_PUNTOS_INFORMES_04 ID_PUNTOS_INFORMES_04 ID_PUNTOS_INFORMES_04 ID_PUNTOS_INFORMES_04 ID_PUNTOS_INFORMES_04" 8% / 
        16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

#ID_PUNTOS_INFORMES > * {
	border: ipx rgba(189, 187, 179, .5)
}




/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 545 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 545px) {

    #ID_PUNTOS_INFORMES {
	    display: grid;
        height: 100%;
	    grid-template: 
		    "ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01 ID_PUNTOS_INFORMES_01" 3%  
		    "ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02 ID_PUNTOS_INFORMES_02" auto  
		    "ID_PUNTOS_INFORMES_03 ID_PUNTOS_INFORMES_03 ID_PUNTOS_INFORMES_03 ID_PUNTOS_INFORMES_03 ID_PUNTOS_INFORMES_04 ID_PUNTOS_INFORMES_04" 30% /  
            16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }
    
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 920 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 920px) {

    

    
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 1080 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 1080px) {

    


}



