/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* AREA PANTALLA COMUNIDAD INFORMES
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.area_de_trabajo {
    text-align: center;
    padding: 1px;
}

#ID_COMUNIDAD_INFORMES_01 {
	grid-area: ID_COMUNIDAD_INFORMES_01;
}
#ID_COMUNIDAD_INFORMES_02 {
	grid-area: ID_COMUNIDAD_INFORMES_02;
}
#ID_COMUNIDAD_INFORMES_03 {
	grid-area: ID_COMUNIDAD_INFORMES_03;
}
#ID_COMUNIDAD_INFORMES_04 {
	grid-area: ID_COMUNIDAD_INFORMES_04;
	box-sizing: border-box;
    border: 1px gray solid;
}

#ID_COMUNIDAD_INFORMES {
	display: grid;
    height: 100%;
	grid-template: 
		"ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01" 2%  
		"ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02" auto  
		"ID_COMUNIDAD_INFORMES_03 ID_COMUNIDAD_INFORMES_03 ID_COMUNIDAD_INFORMES_03 ID_COMUNIDAD_INFORMES_03 ID_COMUNIDAD_INFORMES_03 ID_COMUNIDAD_INFORMES_03" 13%  
		"ID_COMUNIDAD_INFORMES_04 ID_COMUNIDAD_INFORMES_04 ID_COMUNIDAD_INFORMES_04 ID_COMUNIDAD_INFORMES_04 ID_COMUNIDAD_INFORMES_04 ID_COMUNIDAD_INFORMES_04" 8% / 
        16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

#ID_COMUNIDAD_INFORMES > * {
    border: 1px gray solid;
}




/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 545 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 545px) {

    #ID_COMUNIDAD_INFORMES {
	    display: grid;
        height: 100%;
	    grid-template: 
		    "ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01 ID_COMUNIDAD_INFORMES_01" 3%  
		    "ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02 ID_COMUNIDAD_INFORMES_02" auto  
		    "ID_COMUNIDAD_INFORMES_03 ID_COMUNIDAD_INFORMES_03 ID_COMUNIDAD_INFORMES_03 ID_COMUNIDAD_INFORMES_03 ID_COMUNIDAD_INFORMES_04 ID_COMUNIDAD_INFORMES_04" 30% /  
            16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }
    
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 920 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 920px) {

    

    
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* BREAK 1080 */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media (min-width: 1080px) {

    


}



