<div class="maqueta_principal" id="ID_MAQUETA_PRINCIPAL">
    <div class="maqueta_principal_area maqueta_principal_area_cabecera" id="ID_MAQUETA_PRINCIPAL_CABECERA">
        <maqueta-cabecera></maqueta-cabecera>
    </div>
    <div class="maqueta_principal_area maqueta_principal_area_menu" id="ID_MAQUETA_PRINCIPAL_MENU">
        MENU
    </div>
    <div class="maqueta_principal_area maqueta_principal_area_principal" id="ID_MAQUETA_PRINCIPAL_PRINCIPAL">
        <app-gradilla></app-gradilla>
    </div>
    <div class="maqueta_principal_area maqueta_principal_area_lateral" id="ID_MAQUETA_PRINCIPAL_LATERAL">
        LATERAL
    </div>
    <div class="maqueta_principal_area maqueta_principal_area_pie" id="ID_MAQUETA_PRINCIPAL_PIE">
        PIE
    </div>
    <div class="maqueta_principal_area maqueta_principal_area_modal maqueta_principal_modal_close" id="ID_MAQUETA_PRINCIPAL_MODAL">
        MODAL
    </div>
</div>