/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* kochi_postal.css */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 36px;   
}

@font-face {
    font-family: 'Switzer';
    src: url('../../fonts/switzer/Fonts/WEB/fonts/Switzer-Medium.woff2') format('woff2');
    font-weight: 600;
}

body {

    box-sizing: border-box;
    font-family: 'Switzer';
    width: 100%;
    max-width: 100%;
    min-width: 350px;
    overflow-x: hidden;

}


*/

*{
    border: 1px solid red;
}